* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.users {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    background: rgb(82, 82, 129);
}
.item img {
    max-width: 100%;
    border-radius: 10px;
}
